{% load static %}
<!-- FOOTER -->
<footer id="footer" class="section section-grey" style="background-color: #25262b; color: aliceblue;"   >
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a class="logo" href="#">
                            <img src="{% static 'img/logo.png'%}" alt="">
                        </a>
                    </div>
                    <!-- /footer logo -->

                    <p>Book, Electronic and Clothes</p>

                    <!-- footer social -->
                    <ul class="footer-social" >
                        <li><a style="color: #fff;" href="#"><i  class="fa fa-facebook"></i></a></li>
                        <li><a style="color: #fff;" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a style="color: #fff;" href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a style="color: #fff;" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a style="color: #fff;" href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header" style="color:#fff">My Account</h3>
                    <ul class="list-links">
                        <li><a style="color:#fff" href="#">My Account</a></li>
                        <li><a style="color:#fff" href="#">My Wishlist</a></li>
                        <li><a style="color:#fff" href="#">Compare</a></li>
                        <li><a style="color:#fff" href="#">Checkout</a></li>
                        <li><a style="color:#fff" href="#">Login</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer" >
                    <h3 class="footer-header" style="color:#fff">Customer Service</h3>
                    <ul class="list-links" >
                        <li><a style="color:#fff" href="#">About Us</a></li>
                        <li><a style="color:#fff" href="#">Shiping & Return</a></li>
                        <li><a style="color:#fff" href="#">Shiping Guide</a></li>
                        <li><a style="color:#fff" href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Stay Connected</h3>
                    <p>Join with us now.</p>
                    <form>
                        <div class="form-group">
                            <input class="input" placeholder="Enter Email Address">
                        </div>
                        <button class="primary-btn">Join Newslatter</button>
                    </form>
                </div>
            </div>
            <!-- /footer subscribe -->
        </div>
        <!-- /row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    BOEC 
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->

<script src="{% static '' %}js/bootstrap.min.js"></script>
<script src="{% static '' %}js/slick.min.js"></script>
<script src="{% static '' %}js/nouislider.min.js"></script>
<script src="{% static '' %}js/jquery.zoom.min.js"></script>
<script src="{% static '' %}js/main.js"></script>