{% load static %}
<header>
    <!-- top Header -->
    <div id="top-header" style="background-color: #2b2e34;color: aliceblue;">
        <div class="container">
            <div class="pull-left">
                <span>Welcome to Tyche Store</span>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{ message |safe }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="pull-right">
                <ul class="header-top-links">
                    <li><a href="#">Store</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /top Header -->

    <!-- header -->
    <div id="header" style="background-color: #25262b; color: aliceblue;">
        <div class="container">
            <div class="pull-left">
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" href="{% url 'home' %}">
                        <img src="{% static '' %}img/logoWeb.png" alt="">
                    </a>
                </div>
                <!-- /Logo -->
                <script>
                    $(function () {
                        $("#query").autocomplete({
                            source: "/search_auto/",
                            select: function (event, ui) { //item selected
                                AutoCompleteSelectHandler(event, ui)
                            },
                            minLength: 2,
                        });
                    });

                    function AutoCompleteSelectHandler(event, ui) {
                        var selectedObj = ui.item;
                    }
                </script>

                <!-- Search -->
                <div class="header-search" style="min-width: 750px;">
                    <form action="/search/" method="post">
                        {% csrf_token %}
                        <input style="border-radius: 5px;" id="query" name="query" class="input search-input" type="text"
                            placeholder="Enter your keyword" style="padding-left: 10px; padding-right: 20px;"/>
                        <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- /Search -->

            </div>
            <div class="pull-right">
                <ul class="header-btns" style="display: flex; justify-content: center; align-items: center;">
                    <!-- Account -->
                    <li class="header-account dropdown default-dropdown" >
                        {% if user.id %}
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon" style="border: none">
                                <img src="{{ request.session.userimage }}"
                                    style="height: 40px; width: 40px; border-radius: 50%">
                            </div>
                            <strong style="color: white;" class="text-uppercase">{{ user.first_name }} <i
                                    class="fa fa-caret-down"></i></strong>
                        </div>
                        {% else %}
                        <a href="{% url 'login' %}" class="text-uppercase" style="color:#fff ">Login</a> / <a href="{% url 'signup' %}"
                            class="text-uppercase" style="color:#fff">Sign Up</a>
                        {% endif %}

                        <ul class="custom-menu" style="color: #fff;">
                            <li><a href="{% url 'user_index' %}"><i class="fa fa-user-o"></i>My Account</a></li>
                            <li><a href="{% url 'user_orders' %}"><i class="fa fa-exchange"></i>My Orders</a></li>
                            <li><a href="{% url 'user_comments' %}"><i class="fa fa-check"></i>My Comments</a></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-unlock-alt"></i>Logout</a>
                            </li>

                        </ul>
                    </li>
                    <!-- /Account -->

                    <!-- Cart -->
                    <li class="header-cart dropdown default-dropdown">
                        <a href="{% url 'shopcart'%}">
                            <div class="header-btns-icon" style="border-radius: 50%">
                                <i class="fa fa-shopping-cart"></i>
                                {% load myapptags %}
                                {% shopcartcount user.id as count %}

                                <span class="qty">{{ count }}</span>
                            </div>
                            <br>
                        </a>

                    </li>
                    <!-- /Cart -->

                    <!-- Mobile nav toggle-->
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    <!-- / Mobile nav toggle -->
                </ul>
            </div>
        </div>
        <!-- header -->
    </div>
    <!-- container -->
</header>
<!-- /HEADER -->