{% load static %}
<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="/static/img/3.jpg" alt="" style="height: 600px">
                </div>
                <div class="banner banner-1">
                    <img src="/static/img/2.jpg" alt="" style="height: 600px">
                </div>
                <div class="banner banner-1">
                    <img src="/static/img/1.jpg" alt="" style="height: 600px">
                </div>
                <!-- /banner -->
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->